.Main {
  position: relative;
  padding: var(--gutter);
  min-height: 100vh;
  display: grid;
  gap: calc(var(--gutter) * 2);
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: minmax(0, 200px) repeat(4, minmax(0, 1fr));
  grid-template-areas:
    "Header"
    "SectionDays"
    "SectionVisit"
    "SectionTop"
    "SectionAside";

  @media only screen and (min-width: 1024px) {
    max-width: 1366px;
    margin: 0 auto;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: minmax(0, 300px) minmax(0, 1fr);
    grid-template-areas:
      "Header Header Header Header"
      "SectionDays SectionVisit SectionTop SectionAside";
  }
}

.Header {
  grid-area: Header;
}

.SectionDays {
  grid-area: SectionDays;
  display: flex;
  flex-direction: column;
  gap: calc(var(--gutter) * 2);
}

.SectionVisit {
  grid-area: SectionVisit;
}

.SectionTop {
  grid-area: SectionTop;
}

.SectionAside {
  grid-area: SectionAside;
}
