.DataInfoBanner {
  display: flex;
  align-items: flex-start;
  gap: calc(var(--gutter) / 2);

  &--info {
    display: flex;
    flex-direction: column;
    gap: calc(var(--gutter) / 4);
    line-height: 1;
  }
}
